* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
  scroll-behavior: smooth;
}

body {
    background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";
}

body {
   
    overflow-x: hidden;
    max-width: 1920px;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    text-align: center;
}


