* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
  scroll-behavior: smooth;


}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";
}

body {
   
    overflow-x: hidden;
    max-width: 1920px;
}
/*--HEADER--*/

header{
      height: 80px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: white;
      position: absolute;
}
header .container {
  
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction:  row;
    justify-content: space-between;

}
header .container ul{

    display: flex;
}
header .container ul a {

    font-size: 1.2em ;
    font-weight:  500;
    margin: 0 30px;
    color: #66aefc;
}
@media (max-width : 1500px){
    header{
        position: relative;
        background-color: #66aefc;
    }
    header .container{
        width: 100%;
       
        
    }
    header .container ul a {

        color: white;
    }
}



/*--SECTION 1--*/
@media (min-width: 1500px) {
  .sec1{
    height: 100vh;
    width: 100%;
    background-image: url(13.png) ;
    background-repeat: no-repeat ;
    background-position: top right ;
    
  }
  .bg-responsive{
    display: none;
  }
}   
.sec1 .container {
  
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    justify-content: center;

}
.sec1 h1{
    color: #31489f;
    font-size: 8em;
    margin-bottom: 70px ;
}







.sec1 button, .mesbuttons{
 position: relative;
 height: 70px;
 width: 250px;
 border-radius:  50px;
 border-color: #31489f;
 background-color: white;
 font-size: 1.5em;
 color: #31489f;
 z-index: 2;
 transition: 0.3s;
 overflow: hidden;

}
.sec1 button:hover, .mesbuttons:hover {
    color: white;
    width: 280px; ;
}
.sec1 button::before .mesbuttons::before{

    content: "";
    position: absolute;
    height:  70px;
    width: 250px;
    border-radius: 50px;
    background-color: #31489f;
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;

}
.sec1 button:hover::before .mesbuttons:hover::before {
    transform: translate(0%);
}
.sec1 button i {

     transform: scale(0%);
     margin: -10px;
     transition: 0.3s;
}
.sec1 button:hover i {

    transform: scale(1%);
    margin-left: 10px;
}

@media (max-width : 1500px){
   
    .sec1 .container {
  
       text-align: center;
       justify-content:  center;
       width: 100%;
    }

    .sec1{
        height: 100vh;
        margin-top: 100px ;
      }
      .sec1.bg-responsive{
        margin-top: 50px;
        
      }
      .sec1.bg-responsive img{
        width : 600px;
        
      }
}
@media (max-width : 950px){
   
    .sec1 h1{
        font-size: 6em;
        margin-bottom: 60px ;
    }
}
@media (max-width : 700px){
   
    .sec1.bg-responsive img{
        width : 80%;
        
      }

      .sec1 h1{
        font-size: 4em;
        margin-bottom: 60px ;
    }
}
@media (max-width : 500px){
   
   

      .sec1 h1{
        font-size: 3em;
    }
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}



